<div class="titre-page">
    <h4>Rendez-vous</h4>
  </div>
  <br>
  
  <div class="d-flex flex-wrap justify-content-between align-items-center gap-2">
    <button class="btn btn-add btn-primary" (click)="openModal(content)">
      &nbsp;&nbsp;Ajouter
    </button>
  </div>
  
  <div class="datatable mt-3">
    <table class="table">
      <thead class="datatable-header">
        <tr>
          <th><strong>ID</strong></th>
          <th><strong>Date et heure</strong></th>
          <th><strong>Lieu</strong></th>
          <th><strong>Description</strong></th>
          <th><strong>Status</strong></th>
          <th><strong>Actions</strong></th>
        </tr>
      </thead>
      <tbody class="text-sm">
        <tr *ngFor="let rendezVous of rendezVousList">
          <td>{{ rendezVous.id }}</td>
          <td>{{ rendezVous.dateHeure | date: 'short' }}</td>
          <td>{{ rendezVous.lieu }}</td>
          <td>{{ rendezVous.description }}</td>
          <td>
            <span *ngIf="rendezVous.status === '0'" class="badge badge-warning">En attente</span>
            <span *ngIf="rendezVous.status === 'Refuse'" class="badge badge-danger">Refusé</span>
            <span *ngIf="rendezVous.status === 'Planifie'" class="badge badge-primary">Planifié</span>
            <span *ngIf="rendezVous.status === 'Valide'" class="badge badge-success">Validé</span>
          </td>
           
          <td>
            <!-- Bouton Modifier -->
            <button type="button" class="btn btn-info btn-sm btn-rounded" (click)="openModal(content, rendezVous)">
              <i class="fas fa-user-edit"></i>
            </button>
            <button type="button" class="btn btn-danger btn-sm btn-rounded" (click)="onDelete(rendezVous.id)">
              <i class="fas fa-trash-alt"></i>
            </button>
                 
          </td>          
        </tr>
      </tbody>
    </table>
  </div>
  
  <ng-template #content let-modal>
    <div class="modal-header">
      <h5 class="modal-title">{{ isEditMode ? 'Modifier' : 'Ajouter' }} un Rendez-vous</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="rendezVousForm">
        <div class="mb-3">
          <label for="dateHeure">Date et Heure</label>
          <input type="datetime-local" id="dateHeure" formControlName="dateHeure" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="lieu">Lieu</label>
          <input type="text" id="lieu" formControlName="lieu" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="description">Description</label>
          <input type="text" id="description" formControlName="description" class="form-control" />
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
      <button type="button" class="btn btn-primary" (click)="saveRendezVous()">Enregistrer</button>
    </div>
  </ng-template>
  