<div class="account-pages my-5 pt-sm-5" *ngIf="!authResponse.mfaEnabled">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card overflow-hidden">
          <div class="card-body pt-0">
            <div class="p-2">
                 <!-- Logo Section -->
                <div class="text-center mb-4">
                  <img src="assets/images/crm0.jpeg" alt="Logo" class="img-fluid" style="max-width: 300px;" />
                </div>
                
              <form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                  <label for="email" class="form-label">Email</label>
                  <input type="email" formControlName="email" class="form-control" id="email"
                    placeholder=" e-mail"  />
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" formControlName="password" class="form-control" id="password"
                    placeholder="Password"/>         
                </div>
                <div class="mt-3 d-grid">
                  <button class="btn btn-primary" type="submit"
                    [disabled]="loginForm.invalid">Connexion</button>
                </div>
              </form>
            </div>

          </div>
        </div>
        <div class="mt-5 text-center">
          <p>No account ? <a routerLink="/account/signup" class="fw-medium text-primary">SignUp</a> </p>
        </div>

      </div>
    </div>
  </div>
</div>



